* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: white;
  height: 75px;
  width: 100%;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
}
.emblem {
  width: 60%;
  align-items: center;
}
.emblem-img {
  width: 100%;
  max-width: 300px;
}

.navigation {
  width: 40%;
  align-items: center;
}
.navigation ul {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
}
.nav-link,
a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
.nav-links:hover {
  text-shadow: rgb(180, 84, 5) 2px 0 7px;
  transition-delay: 0.2s;
}

/* find section start*/
.section-find {
  height: 300px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.find-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 275px;
}
.email-block {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
}
.button {
  width: 70%;
  font-size: 1.3rem;
  margin: 20px 0;
  padding: 5px;
  background-color: orange;
  border: none;
  transition: 0.5s;
}
.button:hover {
  background-color: rgb(207, 117, 6);
  transition: background-color 0.8s;
}
/* find section end*/
/* features section start */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 15px auto;
}
.features-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: darkorange;
}
.features-text {
  width: 80%;
  align-items: flex-start;
}
/* features section end */
/* img section start */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* img section end */
/* pricing section start */
.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}
.card {
  width: 30%;
  border: rgb(66, 65, 65) 1px solid;
  margin: 10px;
}
.card-footer {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  height: 3rem;
  background-color: rgb(219, 212, 212);
  padding: 15px 0px;
}
.card-body {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
}
.card-price {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  padding: 15px 0px;
}

.card-button {
  width: 40%;
  font-size: 1.3rem;
  margin: 20px 0;
  padding: 5px;
  background-color: orange;
  border: none;
}
.card-button:hover {
  background-color: rgb(207, 117, 6);
  transition: background-color 0.8s;
}
/* pricing section end */
.footer {
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: rgb(219, 212, 212);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  padding: 0 20px;
}
.footer-info {
  /* width: 40%; */
  justify-content: center;
  flex-direction: column;
}
.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: 5px;
}
.copyright {
  font-size: 0.8rem;
  color: rgb(41, 40, 40);
}

@media screen and (max-width: 1024px) {
  .pricing {
    flex-direction: column;
  }
  .card {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: auto;
  }
  .navigation {
    width: 100%;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
  }
  .emblem {
    width: 100%;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .emblem-img {
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 15px;
  }
  .icon {
    display: none;
  }
  .features {
    width: 100%;
    text-align: center;
    height: auto;
    margin: 0 auto;
  }
  .features-items {
    height: auto;
    margin-bottom: 20px;
  }
  .card {
    width: 90%;
  }
}
